@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: #FFEAD0;
}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10px 30px 10px;
  background: #FFF7ED;
}

.nav-items {
  font-size: 14px;
}

.logo {
  margin-left: 20px;
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: 40.271px;
}

.nav-list {
  display: flex;
  gap: 20px;
  margin-right: 20px;
  color: #4D4D4D;
  text-align: right;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 22.923px;
  /* 143.267% */
}

ul {
  all: unset;
  list-style: none;
}

.home-container {
  background-image: url("./images/home-image.png");
  background-size: cover;
  height: 72vh;
  padding: 100px 10px 10px 10px;
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-container h1 {
  font-size: 36px;
  max-width: 450px;
}

.home-container p {
  font-size: 16px;
  max-width: 450px;
}

.home-container button {
  border-radius: 5px;
  background: #FF8C38;
  border: none;
  padding: 15px;
  width: 200px;
  margin-top: 20px;
  color: white;
}

.about-page {
  max-width: 550px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.about-container {
  margin: 20px 30px 0 30px;
  display: flex;
  flex-direction: column;
  height: 57vh;
}

.explore-vans-container {
  border-radius: 5px;
  background: #FFCC8D;
  padding: 20px;
  margin: 50px 0 40px 0;
}

.van-card {
  width: 150px;
}

.van-card img {
  width: 100%;
  height: 150px;
  border-radius: 5px;
}

.explore-vans-container h3 {
  margin: 0;
}

.about-container .link-button {
  background-color: #000;
  margin-top: 20px;
}

.link-button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border: none;
  padding: .75rem 1.375rem;
  color: white;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  transition: transform .1s ease-in-out;
}

.link-button:hover {
  transform: translate(1px, 1px);
}

.footer {
  background: #252525;
  margin: 0;
  padding: 20px;
  color: #AAA;
  text-align: center;
}

.vans-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 35px;
  padding-bottom: 60px;
  max-width: 600px;
  margin: auto;
  gap: 10px;
}

.vans-list {
  display: flex;
  flex-direction: column;
  background: #FFF7ED;
}

.filter-options {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.van-options {
  display: flex;
  gap: 10px;
  font-size: 10px;
  align-items: center;
}

.van-info {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.van-info p {
  font-size: 12px;
  margin-top: 2px;
  font-weight: 600;
}

.price span {
  font-size: 10px;
  display: flex;
  justify-content: flex-end;

}



.price p {
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 600;
}

.banner-simple {
  border-radius: 5px;
  background: #E17654;
  padding: 5px 10px 5px 10px;
  color: #FFEAD0;
  width: 40px;
  font-size: 10px;
  text-align: center;
}

.banner-rugged {
  border-radius: 5px;
  background: #115E59;
  padding: 5px 10px 5px 10px;
  color: #FFEAD0;
  width: 40px;
  font-size: 10px;
  text-align: center;
}

.banner-luxury {
  border-radius: 5px;
  background: #161616;
  padding: 5px 10px 5px 10px;
  color: #FFEAD0;
  width: 40px;
  font-size: 10px;
  text-align: center;
}

.banner-filter {
  border-radius: 5px;
  background: #FFEAD0;
  padding: 5px 10px 5px 10px;
  color: black;
  width: 40px;
  text-align: center;
}

.van-detail-body {
  padding: 20px;
}

.van-detail-page img {
  width: 100vw;
}

.van-detail-page button {
  border-radius: 5px;
  background: #FF8C38;
  border: none;
  padding: 15px;
  width: 100%;
  margin-top: 20px;
  color: white;
}